.Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 3px 8px #323232;
}

.Logo img {
    width: 60px;
}


